* {
    box-sizing: border-box;
}

body {
    color: #8694A0;
    font-family: 'Merriweather', serif;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    color: #000;
    font-size: 1.5em;
    font-weight: bold;
    padding: 20px 0;
}


/* Base Layout */

.main-header {
    text-transform: uppercase;
    font-size: 0.8em;
    background-color: rgb(25, 119, 156);
    color: white;
    text-align: center;
    padding: 12px;
}

.description {
    text-align: center;
    padding: 15px;
    font-size: 15px;
}

.description h2 {
    font-size: 1.2em;
}

.style1 {
    border-top: 1px solid #000;
    border-bottom: 8px double #000;
}

.main-content {
    padding: 4px;
}

#contact,
h2 {
    color: #000;
}

.item,
select,
#topics {
    background-color: #EFF0F1;
    padding: 12px;
    border-radius: 5px;
    margin: 12px 0;
    width: 100%;
}

input[placeholder] {
    font-style: italic;
    text-align: right;
    font-size: .75em;
}

#zip-code {
    width: 50%;
}

.style2 {
    border-top: 2px solid #000;
    margin-top: 15px;
}

.news {
    margin-right: 10px;
    margin-bottom: 15px;
}

.textarea {
    margin-top: 10px;
}

#topics {
    margin-top: 1.25em;
}

#btn-submit {
    background-color: #4EBBB5;
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin: 12px 0;
    width: 100%;
}

#main-footer {
    text-align: center;
    padding-bottom: 15px;
    font-style: italic;
}

.input-info {
    display: flex;
    flex-direction: column;
}

.item:focus,
select:focus,
#topics:focus {
    box-shadow: inset 0 0 0 3px #fff,
			0 0 0 4px #fff,
			3px -3px 30px #1beabd, 
            -3px 3px 30px #10abff;
}

#btn-submit:hover {
    cursor: pointer;
    color: #ffffff !important;
    background: #8e05a0;
    border-color: #8205a1 !important;
    transition: all 0.4s ease 0s;
}

/* Media Queries */

@media (min-width: 768px) {

    .main-content {
        width: 50%;
        margin: auto;
    }

    .input-info {
        margin: 10px 0;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .left {
        align-self: center;
        padding: 10px;
        width: 30%;
    }

    .item {
        width: 50%;
    }

    #zip-code {
        width: 30%;
    }
}